html {
    text-rendering: optimizeLegibility; 
}
body {background: #282828;
    background: -moz-linear-gradient(top,  #282828 24%, #282828 53%, #1b3a2a 81%, #23d27a 100%);
    background: -webkit-linear-gradient(top,  #282828 24%,#282828 53%,#1b3a2a 81%,#23d27a 100%);
    background: linear-gradient(to bottom,  #282828 24%,#282828 53%,#1b3a2a 81%,#23d27a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#282828', endColorstr='#23d27a',GradientType=0 );
    color: whitesmoke; font-family: 'Rajdhani', sans-serif; text-align: center;
    }
img {
        border-radius: 20px;
    }

#sdicon {
        font-size: 20px;
    }
#box {
        box-sizing: content-box;
        border: 1px solid whitesmoke;
        background-color: #282828;
        padding: 5px;
        margin: 0px auto;
        width: 20%;
        height: 250px;

    }
    label {
        display: block;
        float: left;
        width: 100px;
        text-align: left;    
    }
    input[type=text] {
        display: block;
        float: right;
        
    }
    input[type=reset], input[type=submit] {
        background-color: #23d27a;
        border: none;
        color: white;
        padding: 13px 26px;
        text-decoration: none;
        margin: 5px 4px;
        cursor: pointer;  
    }
    ul {
      text-align: center;
      list-style-position: inside;
    }